<section class="container">

  <ion-button class="back-btn" *ngIf="currentFieldShownNumber > 0" (click)="prevFieldForm()">Retour</ion-button>

  <form class="form" [formGroup]="userTripForm" (submit)="onSubmit()">

    <div *ngIf="currentFieldShown === 'duration'" class="duration-wrapper">
      <div class="label-wrapper">
        <ion-icon name="airplane-outline"></ion-icon>
        <div>Durée du voyage (en jours)</div>
      </div>
      <ion-list>
        <ion-item>
          <ion-select aria-label="days" interface="popover" name="duration" id="duration" formControlName="duration">
            <ion-select-option *ngFor="let nb of arrayDuration" [value]="nb">{{nb}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>


    <div *ngIf="currentFieldShown === 'nbPersons'" class="nbPersons-wrapper">
      <div class="label-wrapper">
        <ion-icon name="people-outline"></ion-icon>
        <div>A combien partez vous?</div>
      </div>
      <ion-list>
        <ion-item>
          <ion-select aria-label="persons" interface="popover" name="nbPersons" id="nbPersons"
            formControlName="nbPersons">
            <ion-select-option *ngFor="let nb of arrayPersons" [value]="nb">{{nb}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="currentFieldShown === 'budget'" class="budget-wrapper">
      <div class="label-wrapper">
        <ion-icon name="cash-outline"></ion-icon>
        <div>Combien de budget (par nuit - par personne)?</div>
      </div>
      <div>
        <span>
          {{userTripForm.controls["budget"].value.lower}}€ - {{userTripForm.controls["budget"].value.upper}}€
        </span>
      </div>
      <ion-range aria-label="Dual Knobs Range" [mode]="'md'" [dualKnobs]="true" [pin]="true"
        [pinFormatter]="pinFormatter" [ticks]="true" [snaps]="true" [step]="10" [min]="10" [max]="300"
        formControlName="budget"></ion-range>
    </div>


    <div *ngIf="currentFieldShown === 'transportDuration'" class="transportDuration-wrapper">
      <div class="label-wrapper">
        <ion-icon name="time-outline"></ion-icon>
        <div>Transport</div>
      </div>
      <div class="radio-list">
        <div class="radio-item" *ngFor="let radioItem of transportDuration | keyvalue">
          <span *ngIf="(radioItem.key | isInt)">
            <input name="transportDuration" [id]="radioItem.value" [value]="radioItem.key" type="radio"
              formControlName="transportDuration">
            <label [for]="radioItem.value">{{radioItem.value}}</label>
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="currentFieldShown === 'housingType'" class="housingType-wrapper">
      <div class="label-wrapper">
        <ion-icon name="home-outline"></ion-icon>
        <div>Hébergements (choix multiples)</div>
      </div>
      <div class="radio-list">
        <div class="radio-item" *ngFor="let item of housingEnum | keyvalue">
          <input name="housingType" [id]="item.key" type="checkbox" [value]="item.value" (change)="onHousingCheckChange($event)">
          <label [for]="item.key">{{item.value}}</label>
        </div>
      </div>
    </div>

    <div *ngIf="currentFieldShown === 'activities'" class="activities-wrapper">
      <div class="label-wrapper">
        <ion-icon name="golf-outline"></ion-icon>
        <div>Activités (choix multiples)</div>
      </div>
      <div class="radio-list">
        <div class="radio-item" *ngFor="let item of activitiesEnum | keyvalue">
          <input name="activities"  [id]="item.key" type="checkbox" [value]="item.value" (change)="onActivitiesCheckChange($event)">
          <label [for]="item.key">{{item.value}}</label>
        </div>
      </div>
    </div>

    <div *ngIf="currentFieldShown === 'animal'" class="animal-wrapper">
      <div class="label-wrapper">
        <ion-icon name="logo-octocat"></ion-icon>
        <div>Partirez vous avec votre animal de compagnie?</div>
      </div>
      <div>
        <ion-toggle formControlName="animal"></ion-toggle>
      </div>
    </div>

    <div *ngIf="currentFieldShown === 'eco'" class="eco-wrapper">
      <div class="label-wrapper">
        <ion-icon name="leaf-outline"></ion-icon>
        <div>Faire attention à mon empreinte carbone</div>
      </div>
      <div>
        <ion-toggle formControlName="eco"></ion-toggle>
      </div>
    </div>

    <ion-button (click)="nextFieldForm()" expand="block">Suivant</ion-button>

    <!-- <button type="submit">
      Save
    </button> -->
  </form>


</section>
