.container {
  height: 100%;
  text-align: center;

  .back-btn {
    position: absolute;
    left: 5px;
    top: 5px;
  }

  .form {
    margin: auto 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .label-wrapper {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  .budget-wrapper {
    ion-range {
      --bar-height: 4px;
      --knob-size: 20px;
    }
  }

  .radio-list {

    .radio-item [type="radio"],
    .radio-item [type="checkbox"] {
      display: none;
    }

    .radio-item+.radio-item {
      margin-top: 15px;
    }

    .radio-item label {
      display: block;
      padding: 15px 40px;
      background: #1d1d42;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      min-width: 250px;
      white-space: nowrap;
      position: relative;
      transition: 0.4s ease-in-out 0s;
    }

    .radio-item [type="radio"]:checked~label,
    .radio-item [type="checkbox"]:checked~label {
      border-color: #524eee;
    }

    .radio-item [type="radio"]:checked~label::before {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
