
<ion-content [fullscreen]="true">
  <swiper-container class="swipe-container" [modules]="swiperModules" #swiper allow-touch-move="false" effect="coverflow">
    <swiper-slide *ngFor="let dest of destinationSelections" >
      <!-- <div *ngFor="let dest of destinationSelections"> -->
        <app-destination-card [destination]="dest" (onNextSlide)="nextSlide()"></app-destination-card>
      <!-- </div> -->
    </swiper-slide>
    <!-- <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide> -->
  </swiper-container>
</ion-content>
