.swiper-container {
  height: 100%;
  width: 100%;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    pointer-events: none;
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0, 0, .95) 25%, rgba(0, 0, 0, 0));
    z-index: 10;
  }

  .img-holder {
    height: 100%;
    padding: 30px;

    .image {
      width: 100%;
      height: 100%;
      border-radius: 60px;
      object-fit: cover;
    }
  }

  .swiper-tinder-button {
    position: absolute;
    cursor: pointer;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 999px;
    background: transparent;
    appearance: none;
    outline: none;
    box-shadow: none;
    z-index: 100;
    transition-duration: .1s;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    svg {
      width: 30px;
      height: 30px;
    }

    &.swiper-tinder-button-yes {
      border-color: green;
      left: calc(66% - 28px);

      svg {
        fill: green;
      }
    }

    &.swiper-tinder-button-no {
      border-color: red;
      left: calc(33% - 28px);

      svg {
        fill: red;
      }
    }
  }
}
