<!-- <swiper-slide lazy="true"> -->
<div class="swiper-container">
  <div class="img-holder">
    <ion-img class="image" [src]="imageUrlShown"></ion-img>
  </div>
  <button class="swiper-tinder-button swiper-tinder-button-no" (click)="nextSlide()">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
      <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z">
      </path>
    </svg>
  </button>
  <button (click)="setOpen(true)" class="swiper-tinder-button swiper-tinder-button-yes">
    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
      <path
        d="m480-121-41-37q-106-97-175-167.5t-110-126Q113-507 96.5-552T80-643q0-90 60.5-150.5T290-854q57 0 105.5 27t84.5 78q42-54 89-79.5T670-854q89 0 149.5 60.5T880-643q0 46-16.5 91T806-451.5q-41 55.5-110 126T521-158l-41 37Z">
      </path>
    </svg>
  </button>

  <ion-alert [isOpen]="isAlertOpen" header="Bravo vous partez en vacances !" subHeader="Pour recommencer, appuyez sur le bouton" [buttons]="alertButtons"></ion-alert>
</div>
